body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
    text-align: center;
}

/* titulo */
h1 {
    color: darkgreen;
    margin-bottom: 20px;
}

/* imagenes */
.imagenes img {
    width: 400px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
}

/* el enlace de volver */
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: darkblue;
}
